/* Global font setting */
body {
  font-family: 'Public Sans', sans-serif;
}

/* Example usage for different weights */
h1 {
  font-weight: 700; /* Bold */
}

p {
  font-weight: 400; /* Regular */
}

strong {
  font-weight: 500; /* Medium */
}
.weekly{
  min-width:289px;
  padding:12px;
  font-family: 'Public Sans';
  font-size: 18.75px;
  color: rgba(75, 70, 92, 1);
  background: rgba(219, 218, 222, 1);
  border-radius: 7px;
}